[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8.3"

[dev-packages]
pytest = "*"
"pytest-cov" = "*"
"pytest-django" = "*"

[packages]
"dj-database-url" = "*"
django = "*"
"django-environ" = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
whitenoise = "*"
