[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[dev-packages]

[packages]
"dj-database-url" = "*"
django = "*"
"django-allauth" = "*"
"django-environ" = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
pytest = "*"
"pytest-cov" = "*"
"pytest-django" = "*"
whitenoise = "*"
